---
const youtubeLink = "https://www.youtube.com/@zhuangniutang9689";
---

<footer>
    <a href={youtubeLink}>Check out my YouTube!</a>
</footer>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #dd2525;
        text-decoration: none;
        margin-top: 1rem;
        display: inline-block;
        position: absolute;
        bottom: 2rem;
    }
</style>